@import '../global';

.btn {
  @include transition();

  background-color: #00c8cd;
  border: 1px solid #00c8cd;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  height: 56px;
  text-transform: uppercase;
  width: 100%;

  &:not(button) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &:hover {
    background-color: rgba(0, 200, 205, .5);
  }

  &_white {
    background-color: #fff;
    border-color: #fff;
    color: #313131;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
    }
  }
}