.main-slider {
  &__item {
    background-position: top center;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    width: 100%;

    //&:after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  background-color: rgba(0,0,0,.1);
    //}

    @media screen and (max-width: 767px) {
      height: 500px;
    }

    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;

      @media screen and (max-width: 1290px) {
        padding: 50px;
      }
    }
  }

  &__title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 40px;
  }

  &__btn {
    max-width: 245px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .slick {
    &-arrow {
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      border: 0;
      font-size: 0;
      height: 30px;
      position: absolute;
      top: 50%;
      width: 30px;
      z-index: 99;

      &.slick-prev {
        background-image: url('../img/1_leftArrow.svg');
        left: 15px;
      }

      &.slick-next {
        background-image: url('../img/2_rightArrow.svg');
        right: 15px;
      }
    }

    &-dots {
      bottom: 40px;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;

      li {
        margin: 0 5px;

        &.slick-active {
          button {
            &:after {
              background-color: #00c8cd;
              border-radius: 50%;
              content: '';
              height: 4px;
              left: 3px;
              position: absolute;
              top: 3px;
              width: 4px;
            }
          }
        }

        button {
          background-color: #fff;
          border: 0;
          border-radius: 50%;
          color: transparent;
          font-size: 5px;
          height: 10px;
          padding: 0;
          position: relative;
          width: 10px;
        }
      }
    }
  }
}