footer.footer
    .content
        .footer__container#contacts
            .footer__item
                .footer__title Наши телефоны
                .footer__phone
                    a(href="tel:+34653204444") + (34) 653-204-644
                    a.socials__telegram(href="#")
                        img(src="img/31_telegram.svg" alt)
                    a.socials__viber(href="viber://add?number=+34653204644")
                        img(src="img/29_viber.svg" alt)
                    a.socials__whatsapp(href="whatsapp://send?phone=+34653204444")
                        img(src="img/30_whatsUp.svg" alt)
                .footer__phone
                    a(href="tel:+34609229272") + (34) 609-229-272
                    a.socials__telegram(href="#")
                        img(src="img/31_telegram.svg" alt)
                    a.socials__viber(href="viber://add?number=+34609229272")
                        img(src="img/29_viber.svg" alt)
                    a.socials__whatsapp(href="whatsapp://send?phone=+34609229272")
                        img(src="img/30_whatsUp.svg" alt)
            .footer__item
                .footer__title Главный офис в Испании
                p Passeig Pla de Garaita 24, 03230 La Nucia
                .footer__title Филиал
                p Passeig Pla de Garaita 24, 03230 Nucia
            .footer__item
                .footer__title Почта
                a.footer__link(href="mailto:andrei@wolfpromotor.com") andrei@wolfpromotor.com
                a.footer__link(href="mailto:ildar@wolfpromotor.com") ildar@wolfpromotor.com
            .footer__item
                a.btn(href="#" data-modal="get-consultation") Позвонить мне
                .socials
                    a.socials__item.socials__facebook(href="https://www.facebook.com/")
                    a.socials__item.socials__instagram(href="https://www.instagram.com/")
    .footer__copyright
        .content.d__flex.justify-content_between.align-items_center
            a(href="#") wolfcostablanca.com
            .diweb
                span Разработка:
                img(src="img/diweb-logo.png" alt)
