section.section.section-img#about(style="background-image: url('img/greetings-bg.png')")
    .content
        .greetings__container
            .greetings__item
                a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
                    img(src="img/greetings-video.png" alt)
            .greetings__item
                .section__title Рады знакомству
                p Мы не риэлторы и не очередное агентство недвижимости! Мы в первую очередь собственники земельных участков на территории Коста-Бланка и компания, имеющая в своём подразделении строительный отдел, юридический отдел и маркетинговый отдел продаж!
                p Мы – очень опытны, благодаря профессиональному подходу, как наших европейских юристов, так и других многонациональных сотрудников. За 7 лет работы наша команда провела многие сотни успешных сделок, порой весьма трудных. Ни одного скандала, обманутых ожиданий клиентов и выпавших из «шкафа скелетов».