section.section.section__tabs#investors
    .content
        .section__title ДЛЯ инвесторов
    .tab__wrapper
        .content
            ul.tab__list
                li.tab Участки для инвестиций
                li.tab Наши преимущества
                li.tab Что мы предлагаем
                li.tab Что вы получите
        .tab__content
            .content
                ul.common__list
                    li.common__item
                        a.plot__container(data-modal="plot")
                            img(src="img/rent-img.png" alt)
                            .plot__caption Участок 400 м2 на Коста Бланка
                    li.common__item
                        a.plot__container(data-modal="plot")
                            img(src="img/rent-img.png" alt)
                            .plot__caption Участок 400 м2 на Коста Бланка
                    li.common__item
                        a.plot__container(data-modal="plot")
                            img(src="img/rent-img.png" alt)
                            .plot__caption Участок 400 м2 на Коста Бланка
                    li.common__item
                        a.plot__container(data-modal="plot")
                            img(src="img/rent-img.png" alt)
                            .plot__caption Участок 400 м2 на Коста Бланка
                    li.common__item
                        a.plot__container(data-modal="plot")
                            img(src="img/rent-img.png" alt)
                            .plot__caption Участок 400 м2 на Коста Бланка
                    li.common__item
                        p Все наши предложения по инвестиции можно узнать по телефону или заполнив форму для консультации:
                        a.btn.common__btn(href="#" data-modal="get-consultation") Узнать подробнее

        .tab__content
            .content
                ul.common__list(style="margin-top: 0")
                    li.common__item
                        img(src="img/11_obustroennayaNedvijimost.png" alt)
                        .common__title Обустроенная недвижимость
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/12_strahovanieNedvijimosti.png" alt)
                        .common__title Страхование недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/13_obslujivanieNedvijimosti.png" alt)
                        .common__title Обслуживание недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/14_sdachaArenda.png" alt)
                        .common__title Сдача недвижимости в аренду
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/15_konfidencialnost.png" alt)
                        .common__title Конфиденциальность
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        a.btn.common__btn(href="#" data-modal="get-consultation") Узнать подробнее
        .tab__content
            .content
                ul.common__list(style="margin-top: 0")
                    li.common__item
                        img(src="img/11_obustroennayaNedvijimost.png" alt)
                        .common__title Обустроенная недвижимость
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/12_strahovanieNedvijimosti.png" alt)
                        .common__title Страхование недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/13_obslujivanieNedvijimosti.png" alt)
                        .common__title Обслуживание недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/14_sdachaArenda.png" alt)
                        .common__title Сдача недвижимости в аренду
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/15_konfidencialnost.png" alt)
                        .common__title Конфиденциальность
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        a.btn.common__btn(href="#" data-modal="get-consultation") Узнать подробнее
        .tab__content
            .content
                ul.common__list(style="margin-top: 0")
                    li.common__item
                        img(src="img/11_obustroennayaNedvijimost.png" alt)
                        .common__title Обустроенная недвижимость
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/12_strahovanieNedvijimosti.png" alt)
                        .common__title Страхование недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/13_obslujivanieNedvijimosti.png" alt)
                        .common__title Обслуживание недвижимости
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/14_sdachaArenda.png" alt)
                        .common__title Сдача недвижимости в аренду
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        img(src="img/15_konfidencialnost.png" alt)
                        .common__title Конфиденциальность
                        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                    li.common__item
                        a.btn.common__btn(href="#" data-modal="get-consultation") Узнать подробнее