section.main-slider
    .main-slider__item(style="background-image: url('img/slider-bg.png')")
        .content
            .main-slider__item-content
                p.main-slider__title Ипотека #[br] от 2,5% годовых
                a.btn.btn_white.main-slider__btn(href="#" data-modal="get-consultation") Получить консультацию
    .main-slider__item(style="background-image: url('img/slider-bg.png')")
        .content
            .main-slider__item-content
                p.main-slider__title Ипотека #[br] от 2,5% годовых
                a.btn.btn_white.main-slider__btn(href="#" data-modal="get-consultation") Получить консультацию
    .main-slider__item(style="background-image: url('img/slider-bg.png')")
        .content
            .main-slider__item-content
                p.main-slider__title Ипотека #[br] от 2,5% годовых
                a.btn.btn_white.main-slider__btn(href="#" data-modal="get-consultation") Получить консультацию