section.section.section__rent#owners(style="background-image: url('img/rent-img.png')")
    .content
        .section-wide.reversed
            .additional-info
                .section__title собственникам
                p Уже являетесь собственником жилья? #[br]
                    | Хотите сдать в аренду но не знаете как?

                p Оставьте свои данные и мы с Вами свяжемся чтобы помочь.
                a.btn(href="#" data-modal="get-consultation") Узнать подробнее
            img(src="img/rent-img.png" alt)