section.section.section__rent#rent(style="background-image: url('img/rent-img.png')")
    .content
        .section-wide
            img(src="img/rent-img.png" alt)
            .additional-info
                .section__title Аренда
                p Планируете свой отдых в солнечной Испании? #[br]
                    | Хотите арендовать недвижимость для отдыха? #[br]
                    | Мы можем предложить отличные варианты для Вас.
                a.btn(href="#" data-modal="get-consultation") Позвонить мне