section.section.section-coloured.services#services
    .content
        .section__title Наши услуги
        ul.services__content
            li.services__item
                img(src="img/16_finansovieUslugi.png" alt)
                .services__title Финансовые услуги
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
            li.services__item
                img(src="img/17_uridicheskayaPodderjka.png" alt)
                .services__title Юридическая поддержка
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
