section.section.team
    .content
        .team__item
            .team__photo
                img(src="img/team-photo.png" alt)
                .team__position Владелец компании
            .team__info
                .team__name Ян
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. "
        .team__item
            .team__photo
                img(src="img/team-photo.png" alt)
                .team__position Владелец компании
            .team__info
                .team__name Ян
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. "
        .team__item
            .team__photo
                img(src="img/team-photo.png" alt)
                .team__position Владелец компании
            .team__info
                .team__name Ян
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. "
        .team__item
            .team__photo
                img(src="img/team-photo.png" alt)
                .team__position Владелец компании
            .team__info
                .team__name Ян
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. "
        .team__item
            .team__photo
                img(src="img/team-photo.png" alt)
                .team__position Владелец компании
            .team__info
                .team__name Ян
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. "