section.section.section__tabs#villas
    .content
        .section__title Выберите виллу для просмотра
    .tab__wrapper
        .content
            ul.tab__list
                li.tab Вилла alas colinas
                li.tab Вилла Villa Joyosa
                li.tab Вилла Altea Hills
                li.tab Дом El Albir
                li.tab Дом Las Colinas
        .tab__content
            .content
                .card__container
                    .card__info
                        .card__common
                            .card__title Вилла в Villa Alas Colinas
                            .card__address Passeig Pla de Garaita 24, 03230 La Nucia
                            .card__price $ 40 000.00
                        ul.card__desc
                            li
                                img(src="img/3_ploshad.png" alt)
                                span Площадь виллы (м2) #[br] #[span.size 350]
                            li
                                img(src="img/4_vannih.png" alt)
                                span Количество ванных #[br] #[span.size 4]
                            li
                                img(src="img/5_spalen.png" alt)
                                span Количество спален #[br] #[span.size 5]
                            li
                                img(src="img/6_etaji.png" alt)
                                span Количество этажей #[br] #[span.size 2]

                        ul.card__includes
                            li Бассейн
                            li До моря 2 км
                            li Парковка / гараж
                            li Панорамный вид
                            li Барбекю
                            li Камин

                        a.btn.card__btn(href="#" data-modal="get-presentation")
                            img(src="img/pdf.svg" alt)
                            span ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ (PDF)

                    .card__gallery
                        .card__photo
                            a(data-fancybox="gallery" href="img/photo.png")
                                img(src="img/photo.png" alt)
                        ul.card__thumbnails
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)
                            li.card__small.card__video(data-src="img/thumbnail-video.png" data-video="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
                                img(src="img/thumbnail-video.png" alt)
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)
                            li.card__small(data-src="img/thumbnail.png")
                                img(src="img/thumbnail.png" alt)


        .tab__content
            .content
                .card__container
                    .card__info
                        .card__common
                            .card__title Вилла в Villa Joyosa
                            .card__address Passeig Pla de Garaita 24, 03230 La Nucia
                            .card__price $ 40 000.00
                        ul.card__desc
                            li
                                img(src="img/3_ploshad.png" alt)
                                span Площадь виллы (м2) #[br] #[span.size 350]
                            li
                                img(src="img/4_vannih.png" alt)
                                span Количество ванных #[br] #[span.size 4]
                            li
                                img(src="img/5_spalen.png" alt)
                                span Количество спален #[br] #[span.size 5]
                            li
                                img(src="img/6_etaji.png" alt)
                                span Количество этажей #[br] #[span.size 2]

                        ul.card__includes
                            li Бассейн
                            li До моря 2 км
                            li Парковка / гараж
                            li Панорамный вид
                            li Барбекю
                            li Камин

                        a.btn.card__btn(href="#" data-modal="get-presentation")
                            img(src="img/pdf.svg" alt)
                            span ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ (PDF)

                    .card__gallery
                        .card__photo
                            a(data-fancybox="gallery" href="img/photo.png")
                                img(src="img/photo.png" alt)
                        ul.card__thumbnails
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail-video.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
        .tab__content
            .content
                .card__container
                    .card__info
                        .card__common
                            .card__title Вилла в Villa Altea Hills
                            .card__address Passeig Pla de Garaita 24, 03230 La Nucia
                            .card__price $ 40 000.00
                        ul.card__desc
                            li
                                img(src="img/3_ploshad.png" alt)
                                span Площадь виллы (м2) #[br] #[span.size 350]
                            li
                                img(src="img/4_vannih.png" alt)
                                span Количество ванных #[br] #[span.size 4]
                            li
                                img(src="img/5_spalen.png" alt)
                                span Количество спален #[br] #[span.size 5]
                            li
                                img(src="img/6_etaji.png" alt)
                                span Количество этажей #[br] #[span.size 2]


                        ul.card__includes
                            li Бассейн
                            li До моря 2 км
                            li Парковка / гараж
                            li Панорамный вид
                            li Барбекю
                            li Камин

                        a.btn.card__btn(href="#" data-modal="get-presentation")
                            img(src="img/pdf.svg" alt)
                            span ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ (PDF)

                    .card__gallery
                        .card__photo
                            a(data-fancybox="gallery" href="img/photo.png")
                                img(src="img/photo.png" alt)
                        ul.card__thumbnails
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail-video.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
        .tab__content
            .content
                .card__container
                    .card__info
                        .card__common
                            .card__title Дом в El Albir
                            .card__address Passeig Pla de Garaita 24, 03230 La Nucia
                            .card__price $ 40 000.00
                        ul.card__desc
                            li
                                img(src="img/3_ploshad.png" alt)
                                span Площадь виллы (м2) #[br] #[span.size 350]
                            li
                                img(src="img/4_vannih.png" alt)
                                span Количество ванных #[br] #[span.size 4]
                            li
                                img(src="img/5_spalen.png" alt)
                                span Количество спален #[br] #[span.size 5]
                            li
                                img(src="img/6_etaji.png" alt)
                                span Количество этажей #[br] #[span.size 2]

                        ul.card__includes
                            li Бассейн
                            li До моря 2 км
                            li Парковка / гараж
                            li Панорамный вид
                            li Барбекю
                            li Камин

                        a.btn.card__btn(href="#" data-modal="get-presentation")
                            img(src="img/pdf.svg" alt)
                            span ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ (PDF)

                    .card__gallery
                        .card__photo
                            a(data-fancybox="gallery" href="img/photo.png")
                                img(src="img/photo.png" alt)
                        ul.card__thumbnails
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail-video.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
        .tab__content
            .content
                .card__container
                    .card__info
                        .card__common
                            .card__title Дом в El Albir
                            .card__address Passeig Pla de Garaita 24, 03230 La Nucia
                            .card__price $ 40 000.00
                        ul.card__desc
                            li
                                img(src="img/3_ploshad.png" alt)
                                span Площадь виллы (м2) #[br] #[span.size 350]
                            li
                                img(src="img/4_vannih.png" alt)
                                span Количество ванных #[br] #[span.size 4]
                            li
                                img(src="img/5_spalen.png" alt)
                                span Количество спален #[br] #[span.size 5]
                            li
                                img(src="img/6_etaji.png" alt)
                                span Количество этажей #[br] #[span.size 2]

                        ul.card__includes
                            li Бассейн
                            li До моря 2 км
                            li Парковка / гараж
                            li Панорамный вид
                            li Барбекю
                            li Камин

                        a.btn.card__btn(href="#" data-modal="get-presentation")
                            img(src="img/pdf.svg" alt)
                            span ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ (PDF)

                    .card__gallery
                        .card__photo
                            a(data-fancybox="gallery" href="img/photo.png")
                                img(src="img/photo.png" alt)
                        ul.card__thumbnails
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)
                            li.card__small
                                img(src="img/thumbnail.png" alt)