section.section.section-coloured.work
    .content
        .section__title Как мы работаем
        ul.common__list
            li.common__item
                img(src="img/20_1.png" alt)
                .common__title Заявка
                p Вы отправляете заявку с индивидуальным запросом недвижимости, которую хотели бы найти
            li.common__item
                img(src="img/21_2.png" alt)
                .common__title Обсуждение
                p Наш менеджер связывается с вами, чтобы обсудить предложенные варианты и ваши пожелания
            li.common__item
                img(src="img/22_3.png" alt)
                .common__title Консультация
                p Мы встречаемся с вами в офисе или созваниваемся по Skype, обсуждаем процедуру оформления сделки
            li.common__item
                img(src="img/23_4.png" alt)
                .common__title Ознакомительный тур
                p Вы приезжаете в страну, мы лично встречаем Вас в аэропорту для  осмотра выбранных вами объектов
            li.common__item
                img(src="img/24_5.png" alt)
                .common__title Знакомство с командой
                p Мы знакомим вас с нашей командой - менеджерами, архитектором и руководителем проекта
            li.common__item
                img(src="img/25_6.png" alt)
                .common__title Выбор
                p Мы с вами выбираем лучший объект, который подходит вам по всем критериям
            li.common__item
                img(src="img/26_7.png" alt)
                .common__title Сделка
                p Проходит согласование условий сделки и подписание договора
            li.common__item
                img(src="img/27_8.png" alt)
                .common__title Послепродажное обслуживание
                p Дополнительно Вы можете заказать у нас послепродажное обслуживание Вашей недвижимости

        .section__title(style="margin-top: 80px") МЫ В INSTAGRAM
        .instagram__wrap
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')
            .instagram__item
                a.instagram__link(href='#')
                    .instagram__hover
                        .instagram__hover-wrap
                            .instagram__like
                                img(src='img/32_likes.svg' alt='')
                                span 853
                            .instagram__comments
                                img(src='img/33_otzivi.svg' alt='')
                                span 466
                    img.instagram__img(src='img/instagram-photo.png' alt='')


        .section__title(style="margin-top: 80px") Партнеры:
