@import 'global';

body {
  background: #fff;
  color: #585858;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
}

.container {
  flex-grow: 1;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
}

.d {
  &__flex {
    display: flex !important;
  }

  &__block {
    display: block !important;
  }
}

.justify-content {
  &_between {
    justify-content: space-between !important;
  }
}

.align-items {
  &_center {
    align-items: center !important;
  }
}

.text {
  &__align {
    &_center {
      text-align: center !important;
    }

    &_right {
      text-align: right !important;
    }
  }
}

#map {
  height: 430px;
}

.fancybox-container {
  z-index: 10000 !important;
}